.navbar{
  .logo{
    @include width(11.1rem , 4rem);
  }
  li + li{
    @media screen and (min-width: $mq992) {
        margin-left: 4.8rem;
    }
  }
  .btn{
    min-width: 9.6rem;
    padding: 0.5rem 0.75rem;
  }
}
// navbar modal
.modal{
  .modal-header{
    border-top: 0.4rem solid $primary;
  }
  .modal-content{
    border-radius: 0.8rem;
    overflow: hidden;
  }
  .form-control{
    line-height: 2.2;
    background-color: #F7F7F7;
  }
  .progress{
    height: 0.1rem;
  }
  .progress-bar{
    background-color: #E8E8DB ;
  }
}
