
:focus {
  outline: 0;
}
* {
  outline: 0.1rem solid red;
  font-family: "Noto Sans TC" , -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif ;
}

.btn-primary:hover{
  background-color: $thirdly;
  color: white !important;
}
.btn-outline-secondary:hover{
  color: white !important;
}

.navbar{
  .logo{
    @include width(11.1rem , 4rem);
  }
  li + li{
    @media screen and (min-width: $mq992) {
        margin-left: 4.8rem;
    }
  }
  .btn{
    min-width: 9.6rem;
    padding: 0.5rem 0.75rem;
  }
}
// navbar modal
.modal{
  .modal-header{
    border-top: 4px solid $primary;
  }
  .modal-content{
    border-radius: 0.8rem;
    overflow: hidden;
  }
  .form-control{
    line-height: 2.2;
    background-color: #F7F7F7;
  }
  .progress{
    height: 1px;
  }
  .progress-bar{
    background-color: #E8E8DB ;
  }
}
.banner{
  background-color: #F8F9FA ;
  .badge{
    width: 8rem;
    line-height: 22px;
  }
  .bannerImg{
    border-radius: 3.2rem;
  }
  .targetNumber{
    line-height: 2.5rem;
  }
  .progress{
    height: 1.6rem;
    background-color: #eee;
  }
  .icon-good{
    @include width(2rem , 2rem);
    @media screen and (min-width: $mq992) {
      @include width(2.5rem , 2.5rem);
    }
  }
  .track:hover{
    background-color: $primary;
    color: #636057!important;
    border: 2px solid transparent !important;
  }
  .track:hover .fa-heart{
    color: $thirdly;
  }
}
.navTabs{
  .nav-link{
    padding-top: 1.5rem;
    padding-bottom: 1.4rem; 
    border-bottom: 2px solid transparent;
    @media screen and (min-width: $mq992) {
      padding-top: 2.2rem;
      padding-bottom: 2.2rem; 
    }
  }
  .nav-link.active{
    border-bottom: 2px solid $primary;
    font-weight: 700;
  }
  li + li{
    @media screen and (min-width: $mq992) {
        margin-left: 1.6rem;
    }
  }
}
.title{
  img{
    @include width(4.3rem , 3.6rem);
  }
  span{
    z-index: 2;
  }
  h3::after{
    content: "";
    @include posCenter;
    width: 100%;
    height: 3px;
    background-color: $primary;
    z-index: 1;
  }
}
.form{
  select,input{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: #999999;
  }
}
