
//*-------------------------*/
//* @customVariables
//*-------------------------*/

// media
//----------------

$mq1366: 1366px;
$mq1200: 1200px;
$mq1024: 1024px;
$mq992: 992px;
$mq769: 769px;
$mq768: 768px;
$mq640: 640px;
$mq600: 600px;
$mq576: 576px;
$mq540: 540px;
$mq480: 480px;
$mq414: 414px;
$mq411: 411px;
$mq375: 375px;
$mq360: 360px;
$mq320: 320px;


